# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers de logs
*.log

# Variables d'environnement
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Dataset files
data/